<!DOCTYPE html>

<meta name="robots" content="noindex">
<html>
<head>
  <meta charset="utf-8">
  <title>Document</title>
</head>
<body>
  <!-- mensaje utiliza la comunicación doble data binding
  si cambiamos la variable de la vista, cambia en el controlador
  y vice versa.-->
  <div id="app">
    <template id="template">
      <div>
        <ul>
          <li v-for="(curso,index) in cursos" :key="index">
            {{curso.name}}
          </li>
        </ul>
        
        <div v-if="mostrar">
          {{ mensaje }}
          <!-- Directiva v-bind: v-if:-->
          <img :src = "imagen" />
        </div>
        <!-- revisar eventos, funciones -->
        <button @click="toggleMostrar()">Mostrar/Ocultar</button>
      </div>
    </template>

  </div>
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
<script src="js/script.js"></script>
</body>
</html>